<!-- --- PAGE BORDER --- -->

<div class="border-top">
    <div class="container_border-name">
        <span class="first_border-name"></span>
        <span class="last_border-name"></span>
    </div>
</div>
<div class="border-right"></div>
<div class="border-bottom"></div>
<div class="border-left"></div>
<!-- NAVIGATION -->
<!--
<div class="container__menu">
    <a class="menu" href="#" onclick="openNav()"><i class="fas fa-bars"></i></a>
</div>
<div id="sideNavigation" class="sidenav">
    <ul>
        <li class="nav__item"><a href="#" class="nav--link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav--link">About</a></li>
        <li class="nav__item"><a href="#" class="nav--link">Projects</a></li>
        <li class="nav__item"><a href="#" class="nav--link">Contact</a></li>
    </ul>
</div>
-->
