<!-- Form for future use
<div class="section section--contact">
    <div class="container container--contact">
        <form id="contact" action="" method="post">
            <h3 class="h3">Let's Chat</h3>
            <div class="container--form">
                <div class="identity">
                    <input class="name p" placeholder="Name" type="text" tabindex="1" required autofocus>
                    <input class="email p" placeholder="Email" type="email" tabindex="2" required>
                </div>
                <textarea class="textarea p" placeholder="Type your Message Here...." tabindex="3" required></textarea>
                <button class="submit button_primary" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </div>
        </form>    
    </div>
</div>
-->

<div class="section section--contact">
    <div class="container container--contact">
        <div class="container--heading">
            <h2 class="h2">Let's Get Social</h2>
        </div>
        <div class="container--social">
            <ul class="list--social"> 
                <li class="item--social"><a class="social" target="_blank" href="mailto:lpocho13@gmail.com"><i class="far fa-envelope"></i></a></li>
                <li class="item--social"><a class="social" target="_blank" href=" "><i class="fab fa-github-square"></i></a></li>
                <li class="item--social"><a class="social" target="_blank" href=" "><i class="fab fa-codepen"></i></a></li>
                <li class="item--social"><a class="social" target="_blank" href=" "><i class="fab fa-linkedin"></i></a></li>
                <li class="item--social"><a class="social" target="_blank" href="https://www.instagram.com/laura.brumm/"><i class="fab fa-instagram"></i></a></li>
                <li class="item--social"><a class="social" target="_blank" href="https://www.facebook.com/laurabbrumm"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
        </div>
    </div>
</div>

