<div class="section section--contact">
    <div class="container container--contact">
        <form id="contact" action="" method="post">
            <h3 class="h3">Let's Chat</h3>
            <div class="container--form">
                <input class="name" placeholder="Name" type="text" tabindex="1" required autofocus>
                <input class="email" placeholder="Email" type="email" tabindex="2" required>
                <textarea placeholder="Type your Message Here...." tabindex="3" required></textarea>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </div>
        </form>    
    </div>
</div>