{% set lightMode = lightMode|default(false) %}

<div class="block block_content-half"> 
    {% if lightMode %}
        <div class="bg_light">
            <div class="container container_content-half"> 
                <div class="icon">
                    <div class="icon_light light-side"><i class="fas fa-code"></i></div>
                </div>
                <div class="content">   
                    <h2 class="h2 h2_light light-side">Light Heading</h2>
                    <p class="p p_light light-side">Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here. Light content goes here.</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="bg_dark">
            <div class="container container_content-half"> 
                <div class="icon">
                    <div class="icon_dark dark-side"><i class="fas fa-campground"></i></div>
                </div>
                <div class="content"> 
                    <h2 class="h2 h2_dark dark-side">Dark Heading</h2>
                    <p class="p p_dark dark-side">Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here. Dark content goes here.</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>