<div class="section section--projects">
    <div class="container container--projects">
        <h2 class="h2 has-divider">Projects</h2>
        <div class="container__content">
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/r-and-f/index.html',
                    'filename': 'r-and-f',
                    'name': 'R &amp; F',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/mountain-soul-yoga/index.html',
                    'filename': 'mountain-soul-yoga',
                    'name': 'Mountain Soul Yoga',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/fylo/',
                    'filename': 'fylo',
                    'name': 'Fylo',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/huddle/',
                    'filename': 'huddle',
                    'name': 'Huddle',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/bruess-bakery/index.html',
                    'filename': 'bruess-bakery',
                    'name': 'Bruess Bakery',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/mpower-yoga/index.html',
                    'filename': 'mpower-yoga',
                    'name': 'M&middot;Power Yoga',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/move/',
                    'filename': 'move',
                    'name': 'Move',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/panplume/index.html',
                    'filename': 'panplume',
                    'name': 'Pan&apos;Plume',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/minimal-shop/index.html',
                    'filename': 'minimal-shop',
                    'name': 'Minimal Shop',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/willow-studio/',
                    'filename': 'willow-studio',
                    'name': 'Willow Studio',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
            <div class="column">
                {% include '../blocks/block-project.twig' with {
                    'link': 'https://laura-brumm.github.io/cat-man/index.html',
                    'filename': 'cat-man',
                    'name': 'Cat Man',
                    'skills': ['skill1', 'skill2', 'skill3']
                } %}
            </div>
        </div>
    </div>
    <!--
    <div class="container container--skills">
        <h3 class="h3">Skills</h3>
        <div class="container__content">
            <div class="column">
                <ul class="ul">
                    <li class="li p">// HTML //</li>
                    <li class="li p">// CSS //</li>
                    <li class="li p">// Sass //</li>
                    <li class="li p">// Bootstrap //</li>
                    <li class="li p">// Responsive Web Design //</li>
                    <li class="li p">// Git //</li>
                    <li class="li p">// Command Line //</li>
                    <li class="li p">// WordPress //</li>
                    <li class="li p">// JavaScript //</li>
                    <li class="li p">// Twig //</li>
                </ul>
            </div>
        </div>
    </div>
    -->
</div>