<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <meta name="description" content="I’m Laura Brumm, a Des Moines based Web Developer. Check out my portfolio and feel free to reach out!">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Laura Brumm">
    <meta itemprop="description" content="I’m Laura Brumm, a Des Moines based Web Developer. Check out my portfolio and feel free to reach out!">
    <meta itemprop="image" content="https://laurabrumm.com/img/laura-lake-gray.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://laurabrumm.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Laura Brumm">
    <meta property="og:description" content="I’m Laura Brumm, a Des Moines based Web Developer. Check out my portfolio and feel free to reach out!">
    <meta property="og:image" content="https://laurabrumm.com/img/laura-lake-gray.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Laura Brumm">
    <meta name="twitter:description" content="I’m Laura Brumm, a Des Moines based Web Developer. Check out my portfolio and feel free to reach out!">
    <meta name="twitter:image" content="https://laurabrumm.com/img/laura-lake-gray.jpg">

    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots|Raleway:200,400,600|Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,800|Nixie+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/js/head.min.js"></script>
</head>
