{% extends '../partials/general/_layout.twig' %}

{% block content %}

    <!-- content here -->
    <div class="section section_home">
        <div class="container container_home">
            <div class="content_home">
                <div>Hello.</div>
                <h1>My name is Laura, <br>and I'm a web developer based in Des Moines, IA.
            </div>
            <div class="img_home">

            </div>
        </div>
    </div>

{% endblock %}
