{% extends '../partials/general/_layout.twig' %}

{% block content %}

    <!-- HOME SECTION -->
    <div class="section section_home">
        <div class="container container_home">
            <div class="img_home">
                <img class="img" src="/img/laura-dock.jpg">
            </div>
            <div class="content_home">
                <div><span class="bg_primary">Hello.</span></div>
                <h1 class="h1">My name is Laura,<br>&amp; I'm a web developer<br>based in Des Moines, IA.
            </div>
        </div>
    </div>

    <!-- ABOUT SECTION -->
    {#{% include '../partials/sections/section-about.twig' %}#}

    <!-- PROJECTS SECTION -->
    {% include '../partials/sections/section-projects.twig' %}

    <!-- CONTACT SECTION -->
    {% include '../partials/sections/section-contact.twig' %}

{% endblock %}
