// Variables
// ------------------------

// Colors
// ------------------------

// Primary

$primary: #576964;
$primary-light: #6F7F7B;


// Secondary

$secondary: #B18E72;
$secondary-light: #BFA28B;

// Misc

$white: #FFF;
$offwhite: #E6E6E4;
$gray-light: #CDC7BF;
$black: #1A1713;

// Fonts
// ------------------------
// 

// Primary font

$serif: 'Roboto Slab', serif;
$sans-serif: 'Raleway', sans-serif;


// Secondary font

$cursive: 'Raleway Dots', cursive;

// Monospaced


