.section_about {
    width: 100%;

    .container_about {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        border: {
            top: 5px solid $secondary;
            bottom: 5px solid $secondary;
        }
        margin-bottom: 50px;

        @media (max-width: 768px) {
            display: block;
            border: 0;
        }

        .split-content {
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}