.block--project {
    width: 100%;

    .block__img {
        padding-bottom: 20px;
        
        &:hover {
            + .block__content {
                .link {
                    color: $primary;
                    letter-spacing: 4px;
                    font-weight: 600;
                }
            }
        }
    }

    .block__content {
        .ul {
            .li {
                text-decoration: none;
                display: inline-block;
            }
        }   
    }
}