.section--contact {
    max-width: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23E6E6E4' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin: {
        left: 30px;
        right: 30px;
        bottom: 30px;
    }

    @media (max-width: 450px) {
		margin: {
            left: 15px;
            right: 15px;
            bottom: 15px;
        }
	}

    .container--contact {
        max-width: 100%;
        margin: 0 auto;

        .container--heading {
            width: 75%;
            margin: 0 auto; 
        }
        .container--link,
        .container--social {
            width: 75%;
            margin: 0 auto;
            padding: {
                left: 50px;
                right: 50px;
            }

            @media(max-width: 650px) {
                width: 100%;
            }
        }

        .container--heading {
            text-align: center; 

            .h2 {
                color: $black;
                margin-bottom: 0;
            }
        }

        .container--social {
            height: auto;
            padding: 50px 0;

            .list--social {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            
                .item--social {
                    list-style-type: none;
                    flex: 1 auto;
                    align-self: center;
                    text-align: center;

                    @media (max-width: 536px) {
                        width: 33.33%;
                    }

                    @media (max-width: 385px) {
                        width: 50%;
                    }

                    .social {
                        color: $primary;
                        font-size: 3rem;
                        display: block;
                        padding: 10px;
                        transition: 0.25s ease-in-out;

                        &:hover {
                            transition: 0.25s ease-in-out;
                            transform: scale(1.25); 
                            color: $offwhite;
                        }
                    }
                }
            }
        }
    }
}