.section--contact {
    width: 100%;
    background: $secondary;

    .container--contact {
        max-width: 750px;
        margin: 0 auto;

        .h3 {
            text-align: center;
        }

        .container--form {

            .identity {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .name,
                .email {
                    flex: 1 auto;
                    padding: 10px;
                    margin: {
                        top: 10px;
                        bottom: 10px;
                    }
                }

                .name {
                    margin-right: 10px;
                }

                .email {
                    margin-left: 10px;
                }
            }

            .textarea {
                width: 100%;
                max-width: 100%;
                display: block;
                padding: 10px;
                margin: 10px auto;

            }

            .submit {
                
                
            }
        }


    }
}