.section--contact {
    max-width: 100%;
    margin: {
        left: 30px;
        right: 30px;
    }

    background: $white;

    .container--contact {
        max-width: 100%;
        margin: 0 auto;

        .container--heading,
        .container--link,
        .container--social {
            width: 75%;
            margin: 0 auto;
            padding: {
                left: 50px;
                right: 50px;
            }

            @media(max-width: 580px) {
                width: 100%;
            }
        }

        .container--heading {
            text-align: center; 

            .h2 {
                color: $secondary;
                margin-bottom: 0;
            }
        }

        .container--social {
            height: auto;
            padding: 50px 0;

            .list--social {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            
                .item--social {
                    list-style-type: none;
                    flex: 1 auto;
                    align-self: center;
                    text-align: center;

                    @media (max-width: 536px) {
                        width: 33.33%;
                    }

                    @media (max-width: 385px) {
                        width: 50%;
                    }

                    .social {
                        color: $primary;
                        font-size: 3rem;
                        display: block;
                        padding: 10px;
                        transition: 0.25s ease-in-out;

                        &:hover {
                            transition: 0.25s ease-in-out;
                            transform: scale(1.25); 
                            color: $primary-light;
                        }
                    }
                }
            }
        }
    }
}