/* ----- BORDER STYLING ----- */

.border-top,
.border-right,
.border-bottom,
.border-left {
	position: fixed;
	background: #696167;
}

.border-top,
.border-bottom {
	width: 100%;
	height: 30px;
}

.border-right,
.border-left {
	width: 30px;
    height: 100%;
    background: linear-gradient(to bottom, #897E83 50%, #696167 100%);
}

.border-top {
    background: #897E83;
}

.border-right {
	right: 0;
}

.border-bottom {
	bottom: 0;
}

.container_border-name {
	position: absolute;
	line-height: 50px;
	left: 50%;
	transform: translate(-50%);
	
	.first_border-name,
	.last_border-name {
		
		
	}
	
	.first_border-name {
		font-size: 35px;
		letter-spacing: 8px;
		color: #F0EFEF;
		z-index: 1;
	}
	
	.last_border-name {
		font-size: 40px;
		font-weight: 500;
		letter-spacing: 3px;
		color: #AB9EA4;
	}
}

.container_nav {
	position: fixed;
	height: 50px;
	width: 50px;
	background-color: $gray;
	z-index: 100;
	left: 40px;
	top: 10%;
	transform: translate(-50%, -50%);
	
	.menu {
		color: $offwhite;
		font-size: 30px;
		line-height: 50px;
		display: block;
		text-align: center;
	}
}

.container_social {
	position: fixed;
	height: auto;
	width: 50px;
	background-color: $gray;
	z-index: 100;
	left: 40px;
	top: 80%;
	transform: translate(-50%, -50%);
	
	.item_social {
		list-style-type: none;

		.social {
			color: $offwhite;
			font-size: 30px;
			line-height: 30px;
			display: block;
			text-align: center;
			padding: 10px;
		}
	}
}