/* ----- BORDER STYLING ----- */

.border-top,
.border-right,
.border-bottom,
.border-left {
	position: fixed;
	background: $secondary-light;
}

.border-top,
.border-bottom {
	width: 100%;
	height: 3px;
}

.border-right,
.border-left {
	width: 3px;
	height: 100%;
	z-index: 1;
}

.border-top {
	height: 30px;
	border-bottom: 3px solid $secondary-light;
	top: 0;
    background: $offwhite;
}

.border-right {
	right: 30px;
}

.border-bottom {
	height: 30px;
	border-top: 3px solid $secondary-light;
	bottom: 0;
    background: $offwhite;
}

.border-left {
	left: 30px;
}

.container_border-name {
	position: absolute;
	line-height: 50px;
	left: 50%;
	transform: translate(-50%);
	
	.first_border-name,
	.last_border-name {
		
		
	}
	
	.first_border-name {
		font-size: 35px;
		letter-spacing: 8px;
		color: #F0EFEF;
		z-index: 1;
	}
	
	.last_border-name {
		font-size: 40px;
		font-weight: 500;
		letter-spacing: 3px;
		color: #AB9EA4;
	}
}

.container_nav {
	position: fixed;
	height: 50px;
	width: 50px;
	background-color: $gray;
	z-index: 100;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	
	.menu {
		color: $offwhite;
		font-size: 30px;
		line-height: 50px;
		display: block;
		text-align: center;
	}
}

/* .container_social {
	position: fixed;
	height: auto;
	width: 50px;
	background-color: $gray;
	z-index: 100;
	left: 30px;
	bottom: 60px;
	
	.item_social {
		list-style-type: none;

		.social {
			color: $offwhite;
			font-size: 30px;
			line-height: 30px;
			display: block;
			text-align: center;
			padding: 10px;
		}
	}
} */