/* ----- HOME PAGE ----- */

.section_home {
    height: 100vh;
    display: flex;
}

.container_home {
    width: 100%;
    align-self: center;

    .content_home,
    .img_home {

        @media (max-width: 768px) {
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }

    .content_home {
        text-align: center;
        
    }

    .img_home {
        padding-bottom: 50px;

        .img {
            height: auto;
            max-width: 300px;
            margin: 0 auto;
            display: block;
            border-radius: 20%;

            @media (max-width: 768px) {
                max-width: 200px;
                border-radius: 100%;
            }
        }
    }
}