/* ----- HOME PAGE ----- */

.section_home {
    height: 100vh;
    display: flex;

    @media (max-width: 768px) {
        height: auto;
    }
}

.container_home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 768px) {
        display: block;
    }

    .content_home,
    .img_home {
        width: 50%;
        flex: 1 auto;
        padding: 10px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .content_home {
        text-align: right;
        
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    .img_home {

        .img {
            height: auto;
            width: 75%;
            display: block;
            margin: 0 auto;
            border-radius: 75px;

            @media (max-width: 768px) {
                width: 60%;
                padding: 20px 5px;
            }

            @media (max-width: 425px) {
                width: 75%;
                padding: 10px 0;
            }
        }
    }
}