/* ----- HOME PAGE ----- */

.section_home {
    height: 100vh;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23E6E6E4' fill-opacity='0.3'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    @media (max-width: 450px) {
		margin: {
            left: 15px;
            right: 15px;
        }
	}
}

.container_home {
    align-self: center;
    margin: 0 auto;

    .content_home,
    .img_home {

        @media (max-width: 768px) {
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }

    .content_home {
        text-align: center;

        .no-break {
            @media(max-width: 650px) {
                display: none;
            }
        }

        .no-break__xs {
            @media(max-width: 425px) {
                display: none;
            }
        }
        
    }

    .img_home {
        padding-bottom: 50px;

        .img {
            height: auto;
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            display: block;
            border-radius: 100%;

            @media (max-width: 768px) {
                max-width: 250px;
            }

            @media (max-width: 501px) {
                max-width: 200px;
            }
        }
    }
}