.section--projects {

    @media (max-width: 768px) {
        padding-top: 0 !important;
    }

    .container--projects {
        background: $offwhite;
        width: 100%;
        text-align: center;

        .h2 {
            color: $primary;
        }

        .container__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0 25px 75px 25px;

            .column {
                flex: 1 auto;
                padding: 25px;
                max-width: 33.333%;

                @media (max-width: 768px) {
                    max-width: 50%;
                }

                @media (max-width: 535px) {
                    max-width: 100%;
                }
            }
        }  
    }

    .container--skills {
        width: 100%;

        .h3 {
            text-align: center;
        }

        .container__content {
            margin: 0 auto;
            width: 75%;

            @media (max-width: 1450px) {
                width: 100%;
            }

            .column {
                flex: 1 auto;
                padding: 50px;

                .ul {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    .li {
                        width: 20%;
                        list-style-type: none;
                        text-align: center;

                        @media (max-width: 1100px) {
                            width: 33.333%;
                        }

                        @media (max-width: 750px) {
                            width: 50%;
                        }

                        @media (max-width: 535px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}