// Variables
// ------------------------

// Colors
// ------------------------

// Primary

$primary: #696167;
$primary-light: #897E83;


// Secondary

$secondary: #465347;
$secondary-light: #899189;

// Misc

$white: #F8F6F4;
$offwhite: #F1EDEA;
$camel: #C0B0A0;
$gray: #3A3A3A;
$black: #060606;

// Fonts
// ------------------------
// 

// Primary font

$serif: 'Roboto Slab', serif;
$sans-serif: 'Raleway', sans-serif;


// Secondary font

$cursive: 'Raleway Dots', cursive;

// Monospaced


