// Variables
// ------------------------

// Colors
// ------------------------

// Primary

$primary: #696167;
$primary-light: #897E83;


// Secondary

$secondary: #465347;
$secondary-light: #899189;

// Misc

$white: #ffffff;
$offwhite: #F1EDEA;
$camel: #C0B0A0;
$gray: #3A3A3A;
$black: #000000;

// Fonts
// ------------------------
// 

// Primary font

$font_serif: 'Roboto Slab', serif;
$font_sans-serif: 'Raleway', sans-serif;


// Secondary font

$font_cursive: 'Raleway Dots', cursive;

// Monospaced


