/*
 * Main Styling
 */

@import "frame";
@import "home";
@import "variables";







/* ==========
   UNIVERSAL
   ========== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #F1EDEA;
}

.section {
    padding: 30px;
}


/* ==========
   COLOR
   ========== */
