/*
 * Main Styling
 */

@import "variables";
@import "typography";
@import "frame";
@import "home";
@import "block-content-half";
@import "about";
@import "block-project";
@import "projects";









/* ==========
   UNIVERSAL
   ========== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body {
    background: #F1EDEA;
}

img {
    max-width: 100%;
}

.section {
    padding: 75px 30px;
}


/* ==========
   COLOR
   ========== */
