{% extends '../partials/general/_layout.twig' %}

{% block content %}

    <!-- HOME SECTION -->
    <div class="section section_home">
        <div class="container container_home">
            <div class="img_home">
                <img class="img" 
                    src="/img/laura-lake-gray.jpg" 
                    srcset="/img/laura-lake-gray.jpg, 
                            /img/laura-lake-gray@2x.jpg 2x"
                    alt="Laura smiling with lake and trees in background"
                >
            </div>
            <div class="content_home">
                <!-- <div><span class="bg_primary">hello.</span></div> -->
                <h1 class="h1">Hello! My name is <span class="bg_primary">Laura</span>,<br class="no-break__xs"> &amp; I'm a <span class="bg_primary">web developer</span> based <br class="no-break">in <span class="bg_primary">Des Moines, IA</span>.</h1>
            </div>
        </div>
    </div>

    <!-- ABOUT SECTION -->
    {#{% include '../partials/sections/section-about.twig' %}#}

    <!-- PROJECTS SECTION -->
    {% include '../partials/sections/section-projects.twig' %}

    <!-- CONTACT SECTION -->
    {% include '../partials/sections/section-contact.twig' %}

{% endblock %}
